[submodule "assets/revealjs"]
	path = assets/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "assets/socketio"]
	path = assets/socketio
	url = https://github.com/socketio/socket.io-client.git
