<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <!-- Force all the relative paths to lookup from / -->
    <link rel="stylesheet" href="revealjs/css/reveal.css" />
    <link
      rel="stylesheet"
      {{if
      .OriginalTheme}}
      href="{{.Theme}}"
      {{else}}
      href="revealjs/css/theme/{{.Theme}}"
      {{end}}
      id="theme"
    />
    <link rel="stylesheet" href="revealjs/lib/css/zenburn.css" />
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write(
        '<link rel="stylesheet" href="revealjs/css/print/' +
          (window.location.search.match(/print-pdf/gi) ? "pdf" : "paper") +
          '.css" type="text/css" media="print">'
      )
    </script>
    <!--[if lt IE 9]>
      <script src="revealjs/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section
          data-markdown="{{.Path}}"
          data-separator="{{.Separator}}"
          data-separator-vertical="{{.VerticalSeparator }}"
          data-charset="utf-8"
          data-notes="^Note:"
        >
          <script type="text/template">
            ## Page title

            A paragraph with some text and a [link](http://hakim.se).
          </script>
        </section>
      </div>
    </div>
    <script src="revealjs/js/reveal.js"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || '{{.Transition}}', // default/cube/page/concave/zoom/linear/fade/none
        {{if (ne .Multiplex.Secret "") -}}
        multiplex: {
          secret: {{if .Multiplex.IsMaster}}'{{.Multiplex.Secret}}'{{else}}null{{end}},
          id: '{{.Multiplex.Identifier}}',
          url: '/'
        },
        {{end -}}

        // Optional libraries used to extend on reveal.js
        dependencies: [
          {{if (ne .Multiplex.Secret "") -}}
          { src: 'socketio/socket.io.js', async: true },
          { src: '{{if .Multiplex.IsMaster}}revealjs/plugin/multiplex/master.js{{else}}revealjs/plugin/multiplex/client.js{{end}}', async: true },
          {{end -}}
          { src: 'revealjs/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'revealjs/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'revealjs/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
    </script>
  </body>
</html>
