<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <!-- Force all the relative paths to lookup from / -->
    <link rel="stylesheet" href="revealjs/dist/reveal.css" />
    <link
      rel="stylesheet"
      {{if
      .OriginalTheme}}
      href="{{.Theme}}"
      {{else}}
      href="revealjs/dist/theme/{{.Theme}}"
      {{end}}
      id="theme"
    />
    <link rel="stylesheet" href="revealjs/plugin/highlight/zenburn.css" />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section
          data-markdown="{{.Path}}"
          data-separator="{{.Separator}}"
          data-separator-vertical="{{.VerticalSeparator }}"
          data-charset="utf-8"
          data-notes="^Note:"
        >
          <script type="text/template">
            ## Page title

            A paragraph with some text and a [link](http://hakim.se).
          </script>
        </section>
      </div>
    </div>
    <script src="revealjs/dist/reveal.js"></script>
    <script src="revealjs/plugin/markdown/markdown.js"></script>
    <script src="revealjs/plugin/highlight/highlight.js"></script>
    <script src="revealjs/plugin/notes/notes.js"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: '{{.Transition}}',
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],

        {{if (ne .Multiplex.Secret "") -}}
        multiplex: {
          secret: {{if .Multiplex.IsMaster}}'{{.Multiplex.Secret}}'{{else}}null{{end}},
          id: '{{.Multiplex.Identifier}}',
          url: '/'
        },
        {{end -}}
        dependencies: [
          {{if (ne .Multiplex.Secret "") -}}
          { src: 'socketio/socket.io.js', async: true },
          { src: '{{if .Multiplex.IsMaster}}multiplex/master.js{{else}}multiplex/client.js{{end}}', async: true },
          {{end -}}
        ]
      })
    </script>
  </body>
</html>
